
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: darkslateblue;
    display: inline-block;
    padding: 10px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: darkblue;
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

#littlecam {
    margin-left:9px;
    margin-right:2px;
}

.jumbotron {
    padding: 0.5em;
    background-color:#424242;
    margin-bottom:0px;
}

#centerblock {
    text-align: center;
    padding-top:0px;
    margin-top:0px;
}

#buttonblock {
    margin:10px;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bgimg-1 {
    background-image: url("../../../images/bouldering-compressed-2.jpg");
    height: 70%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.borderz {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h1 {
    color:#fff;
}
h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

#out {
    max-width: 100%;
}

#page2 {
    margin:0px;
    padding:0px;
}
